<% provide :title, 'About' %>
<p>Write your poem, count the words. You've got just three, right?</p>
<p>Awesome!</p>
<p>The next step is to get it out there and noticed. There are many ways but our favorite has us putting the poem up somewhere public, or almost public. Once that's done, photograph your work and upload it here.</p>
