<% provide :page_title, 'Styleguide' %>

<h2>Links</h2>
Collections of links use the classic "list of links" mark-up, with a twist:
<code>
	<pre>
&lt;ol&gt;
	&lt;li&gt;&lt;a href="foo"&gt;Link 1&lt;/a&gt;&lt;/li&gt;
	&lt;li&gt;&lt;a href="foo"&gt;Link 2&lt;/a&gt;&lt;/li&gt;
	&lt;li&gt;&lt;a href="foo"&gt;Link 3&lt;/a&gt;&lt;/li&gt;
&lt;ol&gt;
	</pre>
</code>
<p>Arguably, the ordering of links is defined, by the site creators, and as such the list should be an "ordered list", rather than an "unordered list".</p>

