<nav id="orientation">
	<div id="where-now">Exploring "<%= @where_now %>"</div>
	<div id="where-next">
    <%= link_to 'Previous', '#', { id: 'prev' } %>
    <%= link_to 'Next', '#', { id: 'next' } %>
	</div>
</nav>