<% provide(:page_title, 'Edit your info') %>
<% provide(:button_text, 'Keep my changes') %>
<%= render 'poet_form' %>
<section>
  <%= gravatar_for @poet %>
	<%= link_to 'change', 'http://gravatar.com/emails', rel: 'noopener', target: '_blank' %>
</section>