<% content_for :orientation do %>
<nav id="orientation">
    <div id="where-now">By "<%= @poet.display_name %>"</div>
    <div id="where-next">
    <%= if @prev_poem_index then link_to 'Previous', poet_path(@poet, index: @prev_poem_index ), { id: 'prev', class: 'poem__nav' } end %>
    <%= if @next_poem_index then link_to 'Next', poet_path(@poet, index: @next_poem_index ), { id: 'next', class: 'poem__nav' } end %>
    </div>
</nav>
<% end %>

<%= render 'poems/poem' %>
