<% if @poet.errors.any? %>
<section>
  <h3>Do it again!</h3>
  <p>This form contains <%= pluralize @poet.errors.count, 'error' %>:</p>
  <ul>
      <% @poet.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
  </ul>
</section>
<% end %>