<% if @poet.errors.any? %>
<p>This form contains <%= pluralize @poet.errors.count, 'error' %>:</p>
<ul>
    <% @poet.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
</ul>
<% end %>