<head>
  <title>Threewordpoems</title>
    <meta name="viewport" content="width: 960px" />
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
