<% provide(:page_title, 'For the editors' ) %>

<h2>New poems (<%= @unmoderated.count %>)</h2>
<ol>
  <%= render({
    partial: 'poems/poem',
    layout: 'layouts/list_item',
    collection: @unmoderated,
    as: :poem,
    locals: { heading_level: :h2 }
  })%>
</ol>
<%= will_paginate @unmoderated %>
