/**
 * main styles
 */
html {
  font-size: $grid * 4;
}

body {
  width: 100%;
  height: 100%;
  max-width: 960px;
  margin: 0 auto;
  font-size: 1rem;
  line-height: $vertical-rhythm;
  color: $not-black;
}

/**
 * gutters
 */
body {
  box-sizing: border-box;

  @include respond-to(handhelds) { padding: 0 $grid * 2; }
  @include respond-to(wide-handhelds) { padding: 0 $grid * 3; }
  @include respond-to(tablets) { padding: 0 $grid * 4; }
  @include respond-to(others) { padding: 0 $grid * 4; }
}

form, pre, ol, ul, dl {
  box-sizing: border-box;

  @include respond-to(handhelds) {
    @include gutters($grid);
  }
  @include respond-to(wide-handhelds) {
    @include gutters($grid * 2);
  }
  @include respond-to(tablets) {
    @include gutters($grid * 3);
  }
  @include respond-to(others) {
    @include gutters($grid * 4);
  }
}

h1 {
  @extend .headlines;
}

header > p:first-child,
h2 {
  font-size: 1.5em;
  line-height: 1.25em;
  margin-top: 0.8333333em;
  margin-bottom: 0.416666667em;
}

img { max-width: 100%; }

p, pre, ol, ul, dl {
  margin-top: 0;
  margin-bottom: 1.25em;
}

ol, ul, dl {
  list-style: none;
}

nav {
  ol {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
  }

  li:not(:first-child)::before {
    content: ", ";
  }

  li:last-child::before {
    content: ", or ";
  }

  li:last-child::after {
    content: ".";
  }
}


/**
 * interactive elements
 */
a, button {
  @extend .black-on-white;
  text-decoration: none;
  font-weight: 700;
}

footer a { font-weight: 400;}

label { display: block; }

input,
textarea,
button {
  box-sizing: border-box;
  max-width: 500px;
  border-width: 1px;
  border-style: solid;
  border-radius: $grid;
  border-color: currentColor;
  background-color: inherit;
  color: inherit;

  &:active,
  &:focus {
    outline-width: $grid;
    outline-color: currentColor;
  }
}

textarea,
input[type="text"],
input[type="email"],
input[type="password"],
input[type="file"] {
  width: 100%;
}

/* custom checkbox hackishness */
input[type="radio"],
input[type="checkbox"] {
  display: none;
}

input[type="radio"] + label,
input[type="checkbox"] + label {
  position: relative;
  padding-left: 1.5em;
}

input[type="radio"] + label::before,
input[type="radio"] + label::after,
input[type="checkbox"] + label::before,
input[type="checkbox"] + label::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 1em;
  height: 1em;
  text-align: center;
  background-color: inherit;
  color: inherit;
}

input[type="radio"] + label::before,
input[type="checkbox"] + label::before {
  border: 1px solid currentColor;
  content: " ";
}

input[type="radio"] + label::before {
    border-radius: 50%;
}

input[type="radio"]:checked + label::after {
    content: "\2022";
}

input[type="checkbox"] + label::before {
    border-radius: $grid;
}

input[type="checkbox"]:checked + label::after {
    content: "\2713";
}



/**
 * styleguide specific
 */
pre {
  overflow-x: auto;
  background: $not-black;
  color: $not-white;
}

pre > code {
  display: block;
  padding-top: 0.625em;
  padding-bottom: 0.625em;
}