/**
 * layout tools
 */
@mixin respond-to($media) {
  @if $media == handhelds {
    @media only screen and (max-width: 479px) { @content; }
  }
  @else if $media == wide-handhelds {
    @media only screen and (min-width: 480px) and (max-width: 767px) { @content; }
  }
  @else if $media == tablets {
    @media only screen and (min-width: 768px) and (max-width: 959px) { @content; }
  }
  @else if $media == others {
    @media only screen and (min-width: 960px) { @content; }
  }
}

@mixin push($how-far) {
    padding-right: $how-far;
    padding-left: $how-far;
}

@mixin pull($how-far) {
    margin-right: -$how-far;
    margin-left: -$how-far;
}

@mixin gutters($gutter-size) {
  @include push($gutter-size);
  @include pull($gutter-size);
}

@mixin visually-hidden {
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  @content;
}

.headlines {
  font-size: 2rem;
  line-height: 1.25em;
  margin-top: 0.625em;
  margin-bottom: 0.625em;
}


/**
 * colour tools
 */
@mixin colourise($fg, $bg) {
  background-color: $bg;
  color: $fg;
  outline-color: currentColor;
  border-color: currentColor;
}