/** link colours */
a[href*="poems"] {
  color: $red;

  &:hover,
  &:focus {
    @include colourise(white, $red);
  }
}

/**
 * `<article>`s represent Poems
 */
article {
  box-sizing: border-box;
  position: relative;

  background-color: $red;
  color: $yellow;

  @include respond-to(handhelds) { @include pull($grid); }
  @include respond-to(wide-handhelds) { @include pull($grid * 2); }
  @include respond-to(tablets) { @include pull($grid * 3); }
  @include respond-to(others) { @include pull($grid * 4); }

  img {
    display: block;
  }

  h1, h2, h3, h4, h5, h6,
  textarea {
    line-height: 1.25em;
    margin-top: 0;
    margin-bottom: -1.25em;
    font-size: 1rem;
    font-weight: 400;
  }

  div {
    @include respond-to(handhelds) { @include push($grid); }
    @include respond-to(wide-handhelds) { @include push($grid * 2); }
    @include respond-to(tablets) { @include push($grid * 3); }
    @include respond-to(others) { @include push($grid * 4); }
  }

  img + div {
    @include respond-to(others) {
      position: absolute;
      z-index: 2;
      bottom: $vertical-rhythm * 3;
      left: $grid * 6;
      padding: 0 $grid * 2;
    }
  }

  div > p {
    @extend .headlines;
    font-weight: 700;
  }

  dd, dt,
  address {
    display: inline;
  }

  dd { margin-left: 0; }

  ul {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
  }

  li:not(:last-child)::after {
    content: "|";
    margin-left: 1ex;
    margin-right: 1ex;
  }
}

form[action*="poems"] {
  color: $red;

  input, textarea, button,
  ::placeholder {
    color: $red;
    border-color: currentColor;
  }

  ::placeholder {
    opacity: 0.8;
  }
}

article,
form[action*="poems"] {
  &::selection,
  ::selection {
    @include colourise(white, $red);
  }
}


// TODO: This rule is a hack for the styleguide.
// It'd be great to work out controller-only stylesheets so as to move this
//  to the static_pages.scss file
div[role="example"] {
  @include respond-to(others) {
    position: relative;
    max-width: 960px;
    max-height: 720px;
  }
}
