article {
  &::selection,
  ::selection {
    @extend .red-on-yellow;
  }

  img {
    display: block;
  }

  h1, h2, h3, h4, h5, h6,
  textarea {
    line-height: 1.25em;
    margin-top: 0;
    margin-bottom: -1.25em;
    font-size: 1rem;
    font-weight: 400;
  }

  div {
    @extend .yellow-on-red;
  }

  img + div {
    @include respond-to(others) {
      position: absolute;
      z-index: 2;
      bottom: 100px;
      left: 20px;
      padding: 0 $grid * 2;
    }
  }

  div > p {
    @extend .headlines;
    font-weight: 700;
  }

  dd, dt,
  address {
    display: inline;
  }

  dd { margin-left: 0; }

  ol {
    @include controls;
  }

  li { display: inline-block }

  a {
    @extend .yellow-on-red;

    &:hover,
    &:active {
      @extend .red-on-yellow;
    }
  }

  input, textarea, button,
  ::placeholder {
    @extend .yellow-on-red;
    border-color: yellow;
  }

  ::placeholder {
    opacity: 0.9;
  }

  label {
    @include visually-hidden {
      display: block;
      width: 0;
      height: 0;
    }
  }
}

// TODO: This rule is a hack for the styleguide.
// It'd be great to work out controller-only stylesheets so as to move this
//  to the static_pages.scss file
div[role="example"] {
  @include respond-to(others) {
    position: relative;
    max-width: 960px;
    max-height: 720px;
  }
}