.poem-colours {
  @include colourise($yellow, $red);
}

.poem-colours-highlight {
  @include colourise($red, $yellow);
}

/** link colours */
a[href*="poems"] {
  @extend .poem-colours;
}

a[href*="poems"] {
  &:hover,
  &:focus {
    @extend .poem-colours-highlight;
  }
}

/**
 * `<article>`s represent Poems
 */
article {
  img {
    display: block;
  }

  h1, h2, h3, h4, h5, h6,
  textarea {
    line-height: 1.25em;
    margin-top: 0;
    margin-bottom: -1.25em;
    font-size: 1rem;
    font-weight: 400;
  }

  div {
    @extend .poem-colours;
  }

  img + div {
    @include respond-to(others) {
      position: absolute;
      z-index: 2;
      bottom: 100px;
      left: 20px;
      padding: 0 $grid * 2;
    }
  }

  div > p {
    @extend .headlines;
    font-weight: 700;
  }

  dd, dt,
  address {
    display: inline;
  }

  dd { margin-left: 0; }

  ol {
    @include controls;
  }

  li { display: inline-block }

}


form[action*="poems"] {
  @extend .poem-colours;

  input, textarea, button,
  ::placeholder {
    @extend .poem-colours;
  }

  ::placeholder {
    opacity: 0.8;
  }
}

article,
form[action*="poems"] {
  &::selection,
  ::selection {
    @extend .poem-colours-highlight;
  }
}


// TODO: This rule is a hack for the styleguide.
// It'd be great to work out controller-only stylesheets so as to move this
//  to the static_pages.scss file
div[role="example"] {
  @include respond-to(others) {
    position: relative;
    max-width: 960px;
    max-height: 720px;
  }
}