/* grid/rhythm */
$grid: 4px;
$verticals: $grid * 5;

/* z-indexes */
$z-behind: 1;
$z-infront: 2;

/* building blocks */
.text-box {
	padding: 0 0.5ex;
	font-size: 1rem;
}

.block-line {
	height: $verticals;
	line-height: $verticals;
}

.links-in-front {
		background-color: white;
		color: black;

		&:visited {
			color: black;
		}

		&:focus,
		&:hover {
			background-color: black;
			color: white;
		}
}


/* tools */
.visually-hidden {
	overflow: hidden;
	width: 0;
	height: 0;
	text-indent: 100%;
	font-size: 0;
	white-space: nowrap;
}

