/**
 * distances
 */
$grid: 4px;
$vertical-rhythm: $grid * 5;

/**
 * colours
 */
$not-black: #484848;
$blue: #2222dd;
$green: #11cc11;
$red: #dd2222;
$not-white: #eaeaea;
$yellow: yellow;

.black-on-white {
  background-color: white;
  outline-color: white;
  color: black;
}

.white-on-black {
  background-color: $not-black;
  outline-color: $not-black;
  color: $not-white;
}

.blue-on-green {
  background-color: $green;
  outline-color: $green;
  color: $blue;
}

.green-on-blue {
  background-color: blue;
  outline-color: blue;
  color: $green;
}

a[href*="log"] {
  &:hover,
  &:focus {
    @extend .blue-on-green;
  }
}