.fire {
    background-color: red;
    color: yellow;
}

.warning {
    background-color: yellow;
    color: red;
}

.ice {
    background-color: white;
    color: navy;
}

.nature {
    background-color: olive;
    color: gold;
}