// Place all the styles related to the Poems controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "_reusable";

.poem {
	position: relative;
	width: 960px;
	height: 720px;
	z-index: $z-behind;

	h1 {
		font-size: 1.5rem;
		line-height: 1;
	}

	a {
		text-decoration: none;
	}
}

.poem--editing {
	.field {
		letter-spacing: -2px;

		&:not(:last-of-type) {
			margin-bottom: $verticals / 3;
		}
	}

	label,
	input,
	textarea,
	button {
		line-height: $verticals;
		// padding: 0 0.5ex;
		font-size: 1rem;
		letter-spacing: normal;
	}

	button {
		height: $verticals;
	}

	input,,
	textarea {
		width: 390px;
		padding: 0;
		border: 0;
		outline: 0;
	}

	label[for="poem_title"],
	label[for="poem_body"] {
		@extend .hidden-text;
		display: inline-block;
	}

	input[type="file"] {
		margin-bottom: $verticals / 2;
	}
}

article > img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: $z-behind;
}

.poem__text {
	position: absolute;
	left: 0;
	bottom: 0;
	z-index: $z-infront;
	background-color: transparent;
	color: black;

	form & {
		padding-bottom: 1ex;
	}
}

article h1,,
.poem__body,
.poem__text footer {
	float: left;
	clear: both;
	background-color: white;
	padding: $grid $grid * 2;
}

.poem__body {
	font-size: 3rem;
	line-height: 1.5;
}

.poem--editing,
.poem--maximised {
	.poem__text {
		top: 200px;
		left: 50px;
		bottom: auto;
		width: 500px;
		background-color: white;
	}

	article h1,,
	.poem__body,
	.poem__text footer {
		float: none;
		clear: none;
	}

}

#results {
	background-color: white;
	text-align: left;

	h1 {
		font-size: 1rem;
	}

	ol {
		display: table;
	}

	li {
		display: table-row;
		height: $verticals * 2;
		line-height: $verticals * 2;
		white-space: nowrap;
	}
}
