@import "_reusable";
// @import url(http://fonts.googleapis.com/css?family=Anonymous+Pro:400,700);

/*
 * Resets
 */
article, main, nav {
	display: block;
}

img {
	max-width: 100%;
}

body, h1, h2, h3, h4, h5, h6, ol, dl, ul, dt, dd, li, p {
	padding: 0;
	margin: 0;
}

/*
 * Elements
 */
html {
	height: 100%;
	font-size: $verticals / 1.2;	// 25 x 1.2 = 30px line-height, vertical riddim
	line-height: 1.2;
}

body {
	box-sizing: border-box;
	position: relative;
	width: 960px;
	height: 720px;
	margin: 0 auto;
	color: #333;
	font-family: 'Anonymous Pro', sans-serif;
	background-color: #fff;
}

h1, h2, h3, h4, h5, h6 {
	font-size: 1.5em;
	line-height: 1;
}

input,
button,
textarea {
		font-family: 'Anonymous Pro', sans-serif;
}

a {
	text-decoration: none;
}

/*
 * Layout
 */
#site-title {
	position: absolute;
	top: 0;
	left: 0;
	z-index: $z-infront;
	font-size: 1.5rem;
	line-height: $verticals * 1.5;
	background-color: white;
	color: black;

	&:hover {
		background-color: yellow;
	}

	a {
		&:hover {
			color: blue;
		}
	}
}

#sign-posts {
	display: table;
	border-collapse: collapse;
	position: absolute;
	top: 0;
	right: 0;
	z-index: $z-infront;
	width: 260px;

	nav {
		display: table-row;
		width: 100%;
	}
}

#induction {
	ol {
		display: table;
		width: 100%;
		list-style: none;
		margin-bottom: $verticals;
	}

	li {
		display: table-row;
		text-align: right;
	}

	a {
		display: inline-block;
		@extend .block-line;
		@extend .links-in-front;
	}

	input {
		@extend .text-box;
		@extend .links-in-front;
		@extend .block-line;
		display: table-cell;
		border: 0;
		margin: 0;
		text-align: right;
		vertical-align: top;
		width: 8em;
	}

	input[type="submit"] {
		width: 1em;
	}
}

#orientation {
	background-color: white;
	color: black;

	div {
		width: 100%;
	}

	a {
		width: 50%;
	}
}

	#prev {
		float: left;
	}

	#next {
		float: right;
		text-align: right;
	}


//
// Scaffolds
//
#notice {
	font-weight: bold;
	background-color: green;
	color: white;
}

.field_with_errors {
	padding: 2px;
	background-color: red;
	display: table;
}

#error_explanation {
	width: 450px;
	border: 2px solid red;
	padding: 7px;
	padding-bottom: 0;
	margin-bottom: 20px;
	background-color: #f0f0f0;
	h2 {
		text-align: left;
		font-weight: bold;
		padding: 5px 5px 5px 15px;
		font-size: 12px;
		margin: -7px;
		margin-bottom: 0px;
		background-color: #c00;
		color: #fff;
	}
	ul li {
		font-size: 12px;
		list-style: square;
	}
}
