@import "_reusable";
// @import url(http://fonts.googleapis.com/css?family=Anonymous+Pro:400,700);

/*
 * Resets
 */
article, main, nav {
	display: block;
}

img {
	max-width: 100%;
}

body, h1, h2, h3, h4, h5, h6, ol, dl, ul, dt, dd, li, p {
	padding: 0;
	margin: 0;
}

/*
 * FONTS
 */
html {
	font-size: $verticals / 1.2;	// 25 x 1.2 = 30px line-height, vertical riddim
	line-height: 1.2;
}

body,
input,
button,
textarea {
	font-family: 'Anonymous Pro', sans-serif;
}


/*
 * Elements
 */
html {
	height: 100%;
}

body {
	box-sizing: border-box;
	position: relative;
	width: 960px;
	height: 720px;
	margin: 0 auto;
	color: #333;
	background-color: #fff;
}

h1, h2, h3, h4, h5, h6 {
	font-size: 1.5em;
	line-height: 1;
}

a {
	text-decoration: none;
}

/*
 * Layout
 */
[role="banner"] {
	p, nav {
		background-color: white;
	}

	p {
		font-size: 1.5rem;
		line-height: $verticals * 1.5;
		display: inline-block;
	}

	a {
		&:hover {
			background-color: yellow;
			color: blue;
		}
	}
}

#sign-posts {
	display: table;
	border-collapse: collapse;
	position: absolute;
	top: 60px;
	right: 0;
	z-index: $z-infront;
	width: 260px;

	nav {
		display: table-row;
		width: 100%;
	}
}

header > nav {
	ol {
		overflow: hidden;
		list-style: none;
	}

	li {
		float: left;
		margin-right: 1ex;

		&:not(:first-child):before {
			content: "|";
			padding-right: 1ex;
		}
	}

	a {
		display: inline-block;
		@extend .block-line;
		@extend .links-in-front;
	}

	form {
		@extend .block-line;
		display: inline;
		padding: 0;
		margin: 0;
		letter-spacing: -1ex;
	}

	[for="search_for"] {
		@extend .visually-hidden;
		display: inline-block;
	}

	input {
		@extend .block-line;
		padding: 0;
		margin: 0;
		border: 0;
		vertical-align: middle;
		width: 8em;
		outline: 0;
	}

	[type="submit"] {
		width: 1em;
		text-align: center;
	}
}

#orientation {
	background-color: white;
	color: black;

	div {
		width: 100%;
	}

	a {
		width: 50%;
	}
}

	#prev {
		float: left;
	}

	#next {
		float: right;
		text-align: right;
	}


//
// Scaffolds
//
#notice {
	font-weight: bold;
	background-color: green;
	color: white;
}

.field_with_errors {
	padding: 2px;
	background-color: red;
	display: table;
}

#error_explanation {
	width: 450px;
	border: 2px solid red;
	padding: 7px;
	padding-bottom: 0;
	margin-bottom: 20px;
	background-color: #f0f0f0;
	h2 {
		text-align: left;
		font-weight: bold;
		padding: 5px 5px 5px 15px;
		font-size: 12px;
		margin: -7px;
		margin-bottom: 0px;
		background-color: #c00;
		color: #fff;
	}
	ul li {
		font-size: 12px;
		list-style: square;
	}
}
